body{
	background-color: blueviolet;
}

@media only screen and (max-width: 990px) {
  .h {
    font-size: 40px;
  }
}

.head{
	background-color: white;
	padding-top: 10%;
	padding-bottom: 19%;
}

.hello{
	font-size: 20px;
	font-weight: 600;
	color:grey;
}

.blog-hd{
	color:#ECDD25;
}

.site-info{
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	color:grey;
}

.hd{
	font-weight: 800;
	font-size: 100px;
	font-family: 'Chelsea Market', cursive;
}

.navbar-nav{
  text-align: center;
}

li{
	list-style-type: none;
}

.blog-area{
	margin-top: 30px; 
	margin-bottom: 30px;
}


#mySidenav a {
  position: fixed;
  right: -60px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 5px 0 0 5px;
  margin-top:150px;
}

#mySidenav a:hover {
  right: 0;
}

#home {
  top: 20px;
  background-color: #4CAF50;
}

#blog {
  top: 80px;
  background-color: #2196F3;
}

#projects {
  top: 140px;
  background-color: #f44336;
}


#about {
  top: 200px;
  background-color: #F3E31E;
}

#login{
	top:260px;
	background-color: #8EDC30;
	padding-right: 20px;
}

#signup{
	top:320px;
	background-color: violet;
	padding-right: 20px;
}

::-webkit-scrollbar { 
display: none; 
}

.blog{
	color:black;
	background-color: #fff;
	padding: 5% 5% 5% 5%; 
}
